Lenguaje_de_Marcas/DTD/aitor_martinez_parenteDTD1.dtd

<!ELEMENT factura (cliente, lineafactura+)>
<!ATTLIST factura 
          id ID #REQUIRED
          fecha CDATA #REQUIRED>

<!ELEMENT cliente (nombre, email?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!ELEMENT lineafactura (producto, cantidad, precio, total)>
<!ELEMENT producto (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT total (#PCDATA)>